<div>

  <div class="f48 home-titulo">
    Rick And Morty APP
  </div>
  <div class="container">
    <div class="card">
      <div class="card__thumb">
        <img src="../../assets/img/card-personajes.png" alt="Picture by Kyle Cottrell" class="card__image">
        <div class="card__caption">
          <h2 class="card__title">Personajes</h2>
          <p class="card__snippet">Descubre todos los personajes que existen dentro de la aplicacion!</p>
          <a routerLink='personajes' class="card__button">Wubba Lubba Dub Dub </a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card__thumb">
        <img src="../../assets/img/card-locaciones.png" alt="Picture by Kyle Cottrell" class="card__image">
        <div class="card__caption">
          <h2 class="card__title">Locaciones</h2>
          <p class="card__snippet">Descubre todas los locaciones que existen dentro de la aplicacion!</p>
          <a routerLink='locaciones' class="card__button">Wubba Lubba Dub Dub</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card__thumb">
        <img src="../../assets/img/card-episodios.png" alt="Picture by Kyle Cottrell" class="card__image">
        <div class="card__caption">
          <h2 class="card__title">Episodios</h2>
          <p class="card__snippet">Descubre todas los episodios que existen dentro de la aplicacion!</p>
          <a routerLink='episodios' class="card__button">Wubba Lubba Dub Dub</a>
        </div>
      </div>
    </div>


</div>